<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>EXAMEN FINAL</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>

    <form  asp-area="" asp-controller="sessionstarted" asp-action="Index" method="post" onsubmit="return validar()" class="form-inicio-sesion">
        <h2 class="titulo">INICIAR SESION</h2>
        <div class="contenido-input">
            <input type="email" id="correo" placeholder="Correo Electronico" class="input-100">
            <input type="password" id="contraseña" placeholder="Contraseña" class="input-100">
            <p>Estoy de acuerdo con <a href="terms and conditions.html">Terminos y Condiciones</a></p>
            <input type="submit" onclick="ingresar()" value="Iniciar Sesion" class="btn-iniciar">
            <p>¿No tienes cuenta? <a asp-area="" asp-controller="Registrarse" asp-action="Index">Registrarte</a></p>
        </div>
        @RenderBody()
    </form>

    @RenderSection("Scripts", required: false)
    <script type="text/javascript" src="../js/login.js"></script>

</body>

</html>